<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="row">
        <div class="col-12">
            <h1>Home</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h3>Gruppen</h3>
            <table class="center" border="1">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Mitglieder</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.name}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="/new">Neue Gruppe erstellen</a>
        </div>
    </div>
</body>
</html>